#                                  Temperature Forecast Project using ML

In [1]:
pip install pandas scikit-learn

Requirement already satisfied: pandas in c:\users\sanja\anaconda3\lib\site-packages (1.5.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scikit-learn in c:\users\sanja\anaconda3\lib\site-packages (1.2.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\sanja\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sanja\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sanja\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\sanja\anaconda3\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sanja\anaconda3\lib\site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sanja\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\sanja\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

df = pd.read_csv("https://github.com/dsrscientist/Dataset2/raw/main/temperature.csv")
print(df)

      station        Date  Present_Tmax  Present_Tmin  LDAPS_RHmin  \
0         1.0  30-06-2013          28.7          21.4    58.255688
1         2.0  30-06-2013          31.9          21.6    52.263397
2         3.0  30-06-2013          31.6          23.3    48.690479
3         4.0  30-06-2013          32.0          23.4    58.239788
4         5.0  30-06-2013          31.4          21.9    56.174095
...       ...         ...           ...           ...          ...
7747     23.0  30-08-2017          23.3          17.1    26.741310
7748     24.0  30-08-2017          23.3          17.7    24.040634
7749     25.0  30-08-2017          23.2          17.4    22.933014
7750      NaN         NaN          20.0          11.3    19.794666
7751      NaN         NaN          37.6          29.9    98.524734

      LDAPS_RHmax  LDAPS_Tmax_lapse  LDAPS_Tmin_lapse   LDAPS_WS    LDAPS_LH  \
0       91.116364         28.074101         23.006936   6.818887   69.451805
1       90.604721         29.850689         24.035009   5.691890   51.937448
2       83.973587         30.091292         24.565633   6.138224   20.573050
3       96.483688         29.704629         23.326177   5.650050   65.727144
4       90.155128         29.113934         23.486480   5.735004  107.965535
...           ...               ...               ...        ...         ...
7747    78.869858         26.352081         18.775678   6.148918   72.058294
7748    77.294975         27.010193         18.733519   6.542819   47.241457
7749    77.243744         27.939516         18.522965   7.289264    9.090034
7750    58.936283         17.624954         14.272646   2.882580  -13.603212
7751   100.000153         38.542255         29.619342  21.857621  213.414006

      ...  LDAPS_PPT2  LDAPS_PPT3  LDAPS_PPT4      lat      lon       DEM  \
0     ...    0.000000    0.000000    0.000000  37.6046  126.991  212.3350
1     ...    0.000000    0.000000    0.000000  37.6046  127.032   44.7624
2     ...    0.000000    0.000000    0.000000  37.5776  127.058   33.3068
3     ...    0.000000    0.000000    0.000000  37.6450  127.022   45.7160
4     ...    0.000000    0.000000    0.000000  37.5507  127.135   35.0380
...   ...         ...         ...         ...      ...      ...       ...
7747  ...    0.000000    0.000000    0.000000  37.5372  126.891   15.5876
7748  ...    0.000000    0.000000    0.000000  37.5237  126.909   17.2956
7749  ...    0.000000    0.000000    0.000000  37.5237  126.970   19.5844
7750  ...    0.000000    0.000000    0.000000  37.4562  126.826   12.3700
7751  ...   21.621661   15.841235   16.655469  37.6450  127.135  212.3350

         Slope  Solar radiation  Next_Tmax  Next_Tmin
0     2.785000      5992.895996       29.1       21.2
1     0.514100      5869.312500       30.5       22.5
2     0.266100      5863.555664       31.1       23.9
3     2.534800      5856.964844       31.7       24.3
4     0.505500      5859.552246       31.2       22.5
...        ...              ...        ...        ...
7747  0.155400      4443.313965       28.3       18.1
7748  0.222300      4438.373535       28.6       18.8
7749  0.271300      4451.345215       27.8       17.4
7750  0.098475      4329.520508       17.4       11.3
7751  5.178230      5992.895996       38.9       29.8

[7752 rows x 25 columns]

In [3]:
print(df.head())

   station        Date  Present_Tmax  Present_Tmin  LDAPS_RHmin  LDAPS_RHmax  \
0      1.0  30-06-2013          28.7          21.4    58.255688    91.116364
1      2.0  30-06-2013          31.9          21.6    52.263397    90.604721
2      3.0  30-06-2013          31.6          23.3    48.690479    83.973587
3      4.0  30-06-2013          32.0          23.4    58.239788    96.483688
4      5.0  30-06-2013          31.4          21.9    56.174095    90.155128

   LDAPS_Tmax_lapse  LDAPS_Tmin_lapse  LDAPS_WS    LDAPS_LH  ...  LDAPS_PPT2  \
0         28.074101         23.006936  6.818887   69.451805  ...         0.0
1         29.850689         24.035009  5.691890   51.937448  ...         0.0
2         30.091292         24.565633  6.138224   20.573050  ...         0.0
3         29.704629         23.326177  5.650050   65.727144  ...         0.0
4         29.113934         23.486480  5.735004  107.965535  ...         0.0

   LDAPS_PPT3  LDAPS_PPT4      lat      lon       DEM   Slope  \
0         0.0         0.0  37.6046  126.991  212.3350  2.7850
1         0.0         0.0  37.6046  127.032   44.7624  0.5141
2         0.0         0.0  37.5776  127.058   33.3068  0.2661
3         0.0         0.0  37.6450  127.022   45.7160  2.5348
4         0.0         0.0  37.5507  127.135   35.0380  0.5055

   Solar radiation  Next_Tmax  Next_Tmin
0      5992.895996       29.1       21.2
1      5869.312500       30.5       22.5
2      5863.555664       31.1       23.9
3      5856.964844       31.7       24.3
4      5859.552246       31.2       22.5

[5 rows x 25 columns]

In [4]:
print(df.describe())

           station  Present_Tmax  Present_Tmin  LDAPS_RHmin  LDAPS_RHmax  \
count  7750.000000   7682.000000   7682.000000  7677.000000  7677.000000
mean     13.000000     29.768211     23.225059    56.759372    88.374804
std       7.211568      2.969999      2.413961    14.668111     7.192004
min       1.000000     20.000000     11.300000    19.794666    58.936283
25%       7.000000     27.800000     21.700000    45.963543    84.222862
50%      13.000000     29.900000     23.400000    55.039024    89.793480
75%      19.000000     32.000000     24.900000    67.190056    93.743629
max      25.000000     37.600000     29.900000    98.524734   100.000153

       LDAPS_Tmax_lapse  LDAPS_Tmin_lapse     LDAPS_WS     LDAPS_LH  \
count       7677.000000       7677.000000  7677.000000  7677.000000
mean          29.613447         23.512589     7.097875    62.505019
std            2.947191          2.345347     2.183836    33.730589
min           17.624954         14.272646     2.882580   -13.603212
25%           27.673499         22.089739     5.678705    37.266753
50%           29.703426         23.760199     6.547470    56.865482
75%           31.710450         25.152909     8.032276    84.223616
max           38.542255         29.619342    21.857621   213.414006

         LDAPS_CC1  ...   LDAPS_PPT2   LDAPS_PPT3   LDAPS_PPT4          lat  \
count  7677.000000  ...  7677.000000  7677.000000  7677.000000  7752.000000
mean      0.368774  ...     0.485003     0.278200     0.269407    37.544722
std       0.262458  ...     1.762807     1.161809     1.206214     0.050352
min       0.000000  ...     0.000000     0.000000     0.000000    37.456200
25%       0.146654  ...     0.000000     0.000000     0.000000    37.510200
50%       0.315697  ...     0.000000     0.000000     0.000000    37.550700
75%       0.575489  ...     0.018364     0.007896     0.000041    37.577600
max       0.967277  ...    21.621661    15.841235    16.655469    37.645000

               lon          DEM        Slope  Solar radiation    Next_Tmax  \
count  7752.000000  7752.000000  7752.000000      7752.000000  7725.000000
mean    126.991397    61.867972     1.257048      5341.502803    30.274887
std       0.079435    54.279780     1.370444       429.158867     3.128010
min     126.826000    12.370000     0.098475      4329.520508    17.400000
25%     126.937000    28.700000     0.271300      4999.018555    28.200000
50%     126.995000    45.716000     0.618000      5436.345215    30.500000
75%     127.042000    59.832400     1.767800      5728.316406    32.600000
max     127.135000   212.335000     5.178230      5992.895996    38.900000

         Next_Tmin
count  7725.000000
mean     22.932220
std       2.487613
min      11.300000
25%      21.300000
50%      23.100000
75%      24.600000
max      29.800000

[8 rows x 24 columns]

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7752 entries, 0 to 7751
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   station           7750 non-null   float64
 1   Date              7750 non-null   object
 2   Present_Tmax      7682 non-null   float64
 3   Present_Tmin      7682 non-null   float64
 4   LDAPS_RHmin       7677 non-null   float64
 5   LDAPS_RHmax       7677 non-null   float64
 6   LDAPS_Tmax_lapse  7677 non-null   float64
 7   LDAPS_Tmin_lapse  7677 non-null   float64
 8   LDAPS_WS          7677 non-null   float64
 9   LDAPS_LH          7677 non-null   float64
 10  LDAPS_CC1         7677 non-null   float64
 11  LDAPS_CC2         7677 non-null   float64
 12  LDAPS_CC3         7677 non-null   float64
 13  LDAPS_CC4         7677 non-null   float64
 14  LDAPS_PPT1        7677 non-null   float64
 15  LDAPS_PPT2        7677 non-null   float64
 16  LDAPS_PPT3        7677 non-null   float64
 17  LDAPS_PPT4        7677 non-null   float64
 18  lat               7752 non-null   float64
 19  lon               7752 non-null   float64
 20  DEM               7752 non-null   float64
 21  Slope             7752 non-null   float64
 22  Solar radiation   7752 non-null   float64
 23  Next_Tmax         7725 non-null   float64
 24  Next_Tmin         7725 non-null   float64
dtypes: float64(24), object(1)
memory usage: 1.5+ MB
None

In [6]:
print(df.isnull().sum())

station              2
Date                 2
Present_Tmax        70
Present_Tmin        70
LDAPS_RHmin         75
LDAPS_RHmax         75
LDAPS_Tmax_lapse    75
LDAPS_Tmin_lapse    75
LDAPS_WS            75
LDAPS_LH            75
LDAPS_CC1           75
LDAPS_CC2           75
LDAPS_CC3           75
LDAPS_CC4           75
LDAPS_PPT1          75
LDAPS_PPT2          75
LDAPS_PPT3          75
LDAPS_PPT4          75
lat                  0
lon                  0
DEM                  0
Slope                0
Solar radiation      0
Next_Tmax           27
Next_Tmin           27
dtype: int64

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer

In [8]:

numeric_columns = df.select_dtypes(include=['float64']).columns
imputer = SimpleImputer(strategy='mean')
df[numeric_columns] = imputer.fit_transform(df[numeric_columns])

df = df.drop('Date', axis=1)  

X_min = df.drop(['Next_Tmax', 'Next_Tmin'], axis=1)
y_min = df['Next_Tmin']


X_min_train, X_min_test, y_min_train, y_min_test = train_test_split(X_min, y_min, test_size=0.2, random_state=42)

X_max = df.drop(['Next_Tmax', 'Next_Tmin'], axis=1)
y_max = df['Next_Tmax']

X_max_train, X_max_test, y_max_train, y_max_test = train_test_split(X_max, y_max, test_size=0.2, random_state=42)

min_temp_model = RandomForestRegressor()
max_temp_model = RandomForestRegressor()

min_temp_model.fit(X_min_train, y_min_train)
max_temp_model.fit(X_max_train, y_max_train)

y_min_pred = min_temp_model.predict(X_min_test)
y_max_pred = max_temp_model.predict(X_max_test)

min_temp_mse = mean_squared_error(y_min_test, y_min_pred)
max_temp_mse = mean_squared_error(y_max_test, y_max_pred)

print(f"\nMinimum Temperature Model MSE: {min_temp_mse}")
print(f"Maximum Temperature Model MSE: {max_temp_mse}")

Minimum Temperature Model MSE: 0.5806766370986068
Maximum Temperature Model MSE: 0.9013944354208696